@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;800&family=Exo+2:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Exo 2", sans-serif;
}

/*********** header styles **************/
header {
  height: 100vh;
  min-height: 500px;
  position: relative;
}

.bg-image {
  height: 100%;
  width: 100%;
}

header .logo {
  position: absolute;
  z-index: 3;
  height: 300px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shadow {
  background-color: #000000;
  position: absolute;
  z-index: 2;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.direction-box {
  bottom: 20px;
  left: 50%;
  color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direction-text {
  text-transform: uppercase;
  font-weight: 400;
}

/********* main-section **********/
section {
  margin: 0 50px;
}

.op-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
}

.op-text-box h1 {
  margin: 110px 0 0 0;
  font-size: 54px;
  font-weight: 700;
  font-family: "Bitter", serif;
}

.op-text-box p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  line-height: 34px;
}

.projects-header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-weight: 400;
  list-style: none;
}

ul span {
  color: #d4d3d3;
  margin: 0 10px;
}

.active {
  color: #007be9;
  font-weight: 700;
}

.btn-outlined {
  border: 2px solid #007be9;
  background-color: transparent;
  color: #007be9;
}

.btn {
  outline: none;
  padding: 12px 64px;
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
}

.btn-fill {
  background-color: #007be9;
  color: #ffffff;
  border: none;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.project {
  width: 100%;
  height: 250px;
  position: relative;
}

.hover {
  background-color: #007be9;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hover:hover {
  opacity: 0.5;
}

.big-project {
  width: 100%;
  position: relative;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  grid-auto-flow: column;
  height: 516px;
}

.projects img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  width: 100%;
  height: 100%;
}

.status-box {
  position: absolute;
  z-index: 1;
  top: 30px;
  pointer-events: none;
}

.big-project .status {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #ffffff;
  padding: 4px 32px;
  font-weight: 700px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #55597d;
}

.big-project .status1 {
  background-color: #c21010;
}

.big-project .name {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.big-project .footer-box {
  pointer-events: none;
  position: relative;
  z-index: 1;
  bottom: 150px;
  left: 0;
  margin-left: 16px;
}

.big-project .info {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
}

.big-project .border-bt {
  height: 2px;
  margin-top: 8px;
  background-color: #ffffff;
  width: 80px;
}

.project .status {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  left: 0;
  color: #ffffff;
  padding: 4px 32px;
  text-transform: uppercase;
  top: 30px;
  background-color: #55597d;
}

.project .name {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  left: 0;
  color: #ffffff;
  margin-left: 16px;
  font-weight: 700;
  text-transform: uppercase;
  bottom: 10px;
}

.mobile-big-project {
  display: none;
}

.border-bt {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  height: 2px;
  background-color: #ffffff;
  width: 40px;
  left: 0;
  bottom: -8px;
}

/**********section 2*************/
.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 50px;
}

.right-side {
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-side .left {
  margin-top: 50px;
}

.right-side .box {
  background-color: #007be9;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  color: #ffffff;
  height: 450px;
}

.right-side .right {
  margin-bottom: 50px;
}

.icon {
  margin-right: 20px;
}

.icon-text {
  font-size: 14px;
  font-weight: 600;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.snowy-effect {
  position: absolute;
}

.left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
}

.left-side h1 {
  font-size: 54px;
  margin: 0;
  font-family: "Bitter", serif;
}

.left-side p {
  font-weight: 400;
  color: #444444;
}

/*************** section 3 ************/
.px-50 {
  padding: 0 50px;
}

.section-3 {
  margin: 0;
  height: 350px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.placeholder {
  height: 100%;
  position: absolute;
  width: 100%;
}

.placeholder-shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: #000000;
  opacity: 0.6;
}

.contact-left {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  height: 100%;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 4;
  color: #ffffff;
}

.contact-left p {
  font-size: 14px;
}

.contact-right {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  position: absolute;
  z-index: 4;
  right: 0;
  top: -90px;
}

h1 {
  font-size: 54px;
  font-family: "Bitter", sans-serif;
  margin: 0;
}

input {
  outline: none;
  border: none;
  padding: 12px 64px;
  border-radius: 4px;
  width: 25%;
  margin-right: 10px;
}

/**********section 4*************/
.section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-box {
  width: 100%;
  height: 260px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 16px;
}

.pricing {
  width: 100%;
  height: 250px;
  background-color: #eedb4d;
  position: relative;
}

.pricing img {
  position: absolute;
  z-index: 2;
}

.pricing .text-box-2 {
  margin-left: 20px;
  color: #eedb4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing .text-box-2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.pricing .text-box-2 h1 {
  font-size: 116px;
  margin: 0;
}

.pricing .text-box-2 img {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing .text-box-2 span {
  font-size: 48px;
  margin: 0;
}

.pricing .pos-absolute {
  position: absolute;
  z-index: 1;
}

.pricing .pricing1-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  right: 0;
  width: 75%;
}

.pricing .text-box {
  background-color: #303030;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eedb4d;
  font-weight: 700;
  padding-left: 40px;
}

.pricing .text-box h1 {
  font-size: 54px;
  margin: 0;
}

.pricing .text-box .asterik {
  margin: 0 5px 0 0;
  font-size: 24px;
  font-weight: 200;
}

.pricing .price-box {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  margin-top: 16px;
  color: #303030;
  font-weight: 700;
}

.pricing .price-box h1 {
  font-size: 32px;
  margin: 0;
}

.pricing .price-box .price-3 {
  font-size: 26px;
}

.pricing .price-box .price-3-span {
  font-size: 20px;
  font-weight: 400;
}

.pricing .price-box span {
  margin-left: 5px;
  font-size: 26px;
}

.pricing .description {
  color: #444444;
  width: 70%;
  margin-left: 80px;
  font-size: 14px;
  font-weight: 400;
}

.pricing .text-primary {
  color: #ffffff;
}

.pricing .mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.pricing .ml-20 {
  margin-left: 20px;
}

.pricing .w-80 {
  width: 80%;
}

.pricing .keyandhand {
  margin-top: 10px;
}

.pricing .pricing-3 {
  color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .text-box-3 {
  font-weight: 700;
}

.pricing .text-box-3 h2 {
  font-size: 48px;
  margin: 0;
}

.pricing .text-box-3 h1 {
  font-size: 54px;
  margin: 0;
}

.bg-secondary {
  background-color: #007be9;
}

.bg-purple {
  background-color: #9b9ff1;
}

/*********section-5************/
.section-5 {
  position: relative;
  margin: 0;
  height: 450px;
}

.section-5 img {
  width: 100%;
}

.section5-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  height: auto;
}

.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text {
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  color: #222222;
  font-size: 14px;
  margin: 0;
}

.number-box {
  font-weight: 700;
  margin-right: 20px;
}

.number-box h1 {
  color: #007be9;
  margin: 0;
  font-size: 64px;
}

.number-box p {
  color: #007be9;
  margin: 0;
  font-size: 18px;
  text-align: end;
}

.pos-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.w-100 {
  width: 100%;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  margin: 0 50px;
}

/********section-6*******/
.section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0 0;
}

.section-6 .contact-left {
  width: 50%;
  margin-left: 50px;
}

.section-6 .contact-left h1 {
  width: 90%;
}

.section-6 .contact-left p {
  width: 90%;
}

.section-6 .contact-right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  right: 0;
  top: -140px;
}

/********section-7********/
.section-7 {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-7 h2 {
  font-size: 36px;
  word-wrap: break-word;
  font-family: "Bitter", sans-serif;
  font-weight: 700;
  width: 200px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logos img {
  height: 60px;
  margin: 30px;
}

/***********footer***********/
footer {
  background-color: #1f1f1f;
  color: #ffffff;
}

.top {
  padding: 30px 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.8fr 1fr 0.5fr 1.2fr;
      grid-template-columns: 1.8fr 1fr 0.5fr 1.2fr;
  grid-gap: 16px;
  border-bottom: 1px solid #ffffff;
}

.first {
  width: 80%;
}

.first .logo-title {
  margin-left: 16px;
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.first p {
  font-size: 14px;
  color: #BDBDBD;
}

.footer-list .title {
  color: #ffffff;
  opacity: 0.4;
  margin: 0;
}

.footer-list .border-bottom {
  height: 2px;
  background-color: #ffffff;
  opacity: 0.4;
  margin-top: 8px;
  width: 40px;
}

.footer-list ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  margin-right: 16px;
}

.footer-list ul img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 10px;
}

.footer-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom {
  height: 70px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .right img {
  margin-left: 16px;
}

.bottom .left {
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .copyright {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffffff;
  margin-right: 16px;
}

.logo-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/***************media quereis***************/
@media screen and (max-width: 1200px) {
  .logos img {
    height: 40px;
  }
  .top {
    -ms-grid-columns: 1.8fr 1fr;
        grid-template-columns: 1.8fr 1fr;
    grid-gap: 8px;
  }
  section {
    margin: 16px;
  }
  .section-2 {
    margin: 120px 16px;
  }
  .container {
    margin: 0 16px;
  }
  .px-50 {
    margin-right: 16px;
    padding-left: 16px;
  }
  .contact-left {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
  .contact-right {
    height: 100%;
    top: 0;
  }
  .icon {
    height: 60px;
  }
  .btn-lg-100 {
    width: 100%;
  }
  .pricing-box {
    grid-gap: 8px;
  }
  .section5-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section-5 {
    height: 550px;
  }
}

@media screen and (max-width: 992px) {
  .contact-right {
    display: none;
  }
  .section-6 .contact-left {
    width: 90%;
    margin: 16px;
  }
  input {
    padding: 12px 8px;
  }
  .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .left-side {
    margin: 0 0 50px 0;
    width: 80%;
  }
  .left-side h1, .left-side p {
    text-align: center;
  }
  .right-side .box {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .big-project {
    display: none;
  }
  .mobile-big-project {
    display: block;
  }
  .projects {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  .project {
    height: auto;
    aspect-ratio: 16 / 9;
  }
  header {
    height: auto;
    min-height: 10px;
  }
  .direction-box {
    display: none;
  }
  .logo {
    width: 30%;
  }
  .pricing-box {
    height: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .section-7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .section-7 h2 {
    font-size: 36px;
  }
  .logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logos img {
    margin: 8px;
  }
}

@media screen and (max-width: 768px) {
  .projects-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 16px;
  }
  .bottom {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px;
  }
  .pricing-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .text {
    height: 62px;
    font-size: 14px;
  }
  .number-box {
    margin-right: 10px;
  }
  .number-box h1 {
    font-size: 54px;
  }
  .number-box p {
    font-size: 16px;
    text-align: start;
  }
  .flex-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .section-5 {
    height: 450px;
  }
  .flex-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    margin-bottom: 8px;
    width: 100%;
  }
  .btn-m-100 {
    width: 100%;
  }
  h1 {
    font-size: 44px;
  }
  .left-side {
    width: 100%;
  }
  .left-side h1 {
    font-size: 44px;
  }
  .op-text-box {
    height: 180px;
  }
  .op-text-box h1 {
    margin-top: 50px;
    font-size: 44px;
  }
  .op-text-box p {
    font-size: 12px;
  }
  .section-2 {
    margin-bottom: 50px;
  }
  .right-side .box {
    padding: 16px;
    height: 300px;
  }
  .right-side .box p {
    font-size: 10px;
  }
  .icon {
    height: 40px;
    margin-right: 8px;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-6 .contact-left {
    width: 100%;
    margin: 16px;
  }
}
/*# sourceMappingURL=style.css.map */